@media (min-width : 376px) and (max-width : 380px) {
    body{
        background-color: white;
    }
    main{
        width: 100%;
        height: 100%;
        padding: 0;
        flex-direction: column-reverse;
        gap: 0;
    }
    #first{
        display: none;
    }
    #second{
        display: block; 
    }
    .FirstChild{
        width: 100%;
        padding: 15px;
    }
}