@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../loopstudios-landing-page-main/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.Parent {
    margin: 50px;
    width: 86%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol {
    list-style: none;
    display: flex;
    gap: 25px;
    font-family: 'Alata', sans-serif;
    cursor: pointer;
    color: white;
}

li {
    position: relative;
}

li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    background: white;
    transition: width 0.3s ease;
}

li:hover::after {
    width: 100%;
}

.FlowtingText {
    width: 45%;
    border: 1px solid white;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FlowtingText h1 {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 72px;
    overflow: hidden;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.MainParent {
    width: 70%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);

}

.VR {
    z-index: -1;
    grid-column-start: 1;
    grid-row-start: 1;
}

.container {
    width: 35vw;
    height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    grid-column-start: 8;
    grid-row-start: 5;

}

.container h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 50px;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.container p {
    font-family: "Alata", sans-serif;
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: fit-content;
}

.box h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 34px;
}

.box button {
    color: white;
    background-color: black;
    border: 1px solid transparent;
    padding: 7px 35px;
    cursor: pointer;
}

.portraits {
    margin-top: 100px;
    width: 70%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    position: relative;
    gap: 30px;
    justify-content: center;
}

.wrapper {
    position: relative;
    cursor: pointer;
}

.wrapper p {
    position: absolute;
    color: whitesmoke;
    font-size: 28px;
    font-family: "Alata", sans-serif;
    font-weight: lighter;
    z-index: 100;
    bottom: 9%;
    left: 8%;
}


.wrapper:hover {
    p {
        color: black;
    }

    img {
        filter: brightness(1.4) contrast(0.7) saturate(0.6) blur(1px);
        opacity: 0.5;
        transition: 0.3s ease;
    }
}

#nav2 {
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

footer {
    margin-top: 160px;
    background: black;
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterChild {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.SocialMedia {
    display: flex;
    align-items: center;
    gap: 13px;
    align-self: flex-end;
}

.RightsText {
    color: gray;
    font-family: 'Alata', sans-serif;
}

.FooterBox {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#displayed {
    display: block;
}

/* none displayed */

#NoneDisplaye {
    display: none;
}

.box2 {
    display: none;
}

#SidebarIcon {
    display: none;
}

/* sidebar css*/
.sidebar {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    position: fixed;
    background: black;
    height: 100%;
    width: 100%;
    z-index: 1000;
    padding: 22px 30px;
    top: 0;
    left: -400px;
    transition: 0.3s ease;
}

.active {
    left: 0;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0); 
}

#SideBarNav {
    flex-direction: column;
    display: block;
}

#SideBarNav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 85px;
}

#SideBarNav ol {
    width: fit-content;
    flex-direction: column;
    gap: 10px;
}

#Mark {
    cursor: pointer;
    filter: brightness(0) invert(1);
}